
  {% extends "base.html" %}
  {% block content %}
  <!-- End Hero -->

  <main id="main">

    <section id="cta" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Rise Your Hand</h3>
            <p> Your contribution mean alot more than you think, however little it is, it can help save our the environment from becoming worst than it is already</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="donation.html">Donate Now</a>
          </div>
        </div>

      </div>
    </section>

    <section id="pricing" class="pricing">
      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-right">
              <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                <center>
                  <img src="admin/assets/img/save.jpg" width="380"/></center>
              </div>
              <h2 style="color:rgb(43, 35, 32);">Air pollution at its highest pick, we can help eliminate this dangerous smoke from our environment if we work together</h2>
              <div class="float-left">
                <p><strong>Raised:</strong><small class="text-success"> UGX 0.00</small></p>
                <p><strong>Goal:</strong><small class="text-danger"> UGX 5000,000.00</small></p>
              </div>
              <div class="btn-wrap">
                <a href="donation.html" class="btn-buy">Donate Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-right">
              <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                <center>
                  <img src="admin/assets/img/6.jpg" width="380"/></center>
              </div>
              <h2 style="color:rgb(43, 35, 32);">Bottles colection, if this isn't done, it can prove very dangerous tommorrow</h2>
              
              <div class="float-left">
                <p><strong>Raised:</strong><small class="text-success"> UGX 0.00</small></p>
                <p><strong>Goal:</strong><small class="text-danger"> UGX 9000,000.00</small></p>
              </div>
              <div class="btn-wrap">
                <a href="donation.html" class="btn-buy">Donate Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-right">
              <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                <center>
                  <img src="admin/assets/img/8.jpg" width="380"/></center>
              </div>
              <h2 style="color:rgb(43, 35, 32);">On it differed repeated wandered required in</h2>
              
              <div class="float-left">
                <p><strong>Raised:</strong><small class="text-success"> UGX 0.00</small></p>
                <p><strong>Goal:</strong><small class="text-danger"> UGX 10,000,000.00</small></p>
              </div>
              <div class="btn-wrap">
                <a href="donation.html" class="btn-buy">Donate Now</a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section>
{%endblock%}
 